<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JS Auth</title>
</head>
<body>
  <h1>Authentication</h1>
  <form method="post" action="/auth">
    <label>Username: </label>
    <input type="text" id="username" name="username"> <br><br>
    <label>Password: </label>
    <input type="password" id="password" name="password"> <br><br>
    <input type="submit" value="Login"> 
  </form>
</body>
</html>